<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Анализатор страниц</title>
  </head>

  <body>
    <header>
      <a href="/">Анализатор страниц</a>
      <a href="">Сайты</a>
    </header>
    <div style="width: 450px; height: 220px; background: WhiteSmoke;BORDER=8">
      <br />
      <h2>Анализатор страниц</h2>
      <p>Бесплатно проверяйте сайты на SEO пригодность</p>
      <input name="page_url" type="url" placeholder="https://www.example.com" />
      &nbsp;&nbsp;
      <input type="button" value="ПРОВЕРИТЬ" style="background: DodgerBlue" />
    </div>
    <footer>
      <div>
        <div></div>
      </div>
    </footer>
  </body>
</html>
